
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
 
 
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oswald:wght@500&family=Raleway:wght@700&family=Roboto+Condensed:wght@600&display=swap');
 
 
 
 

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-navigation-size:21px !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  /* height: 300px; */
}

/* .swiper-slide img {
  display: block;
  width: 100%;
} */

.swiper-3d{
  perspective: 685px !important;
}

 
.bg-img::before{
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url('/images/cow1.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 10px;
}

.bg-img-2::before{
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url('/images/cow2.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 10px;
}



.milk-bg::before{
  content: '';
  position: absolute;
 
  width: 100%;
  height: 100%;
  background: url('/video/milk-bg.gif');
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  z-index: -1;
 
}


 
.company-bg::before{
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url('/images/about/company-profile/top-img.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 10px;
  


}

.news-bg::before{
  content: '';
  position: absolute;
  inset: 0;
 
  width: 100%;
  height: 100%;
  background: url('/images/newsBg.webp');
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  padding-bottom: 20px;
  z-index: -1;
  opacity: .4;
  
  


}


.tender-bg::before{
  content: '';
  position: absolute;
  inset: 0;
 
  width: 100%;
  height: 100%;
  background: url('/images/footer-bg-2.png');
  /* background-repeat: no-repeat; */
  background-size: cover;
  padding-bottom: 20px;
  z-index: -1;
  opacity: .7;
  
  


}

.card-hover:hover{
  opacity: 1;
}


.my-swiper{
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 50px;
}

.swiper{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}



.footer-bg::after{
  content:"";
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/images/quickLinkbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -2; */



}


.pt-bg::before{
  content:"";
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/images/pt-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;


}


 
.marquee{
 
  animation: marquee 12s linear infinite;
 
   
}

.marquee-notification{
  animation: marquee-notification 12s linear infinite;
}

.marquee-sponser{
  animation: marquee-sponsoer 12s linear infinite;
}

@keyframes marquee-sponsoer {
  0% {
      transform: translateX(0);
  }

  100%{
      transform: translateX(-100%);
  }
  
}

@keyframes marquee {
  0% {
      transform: translateY(0);
  }

  100%{
      transform: translateY(-100%);
  }
  
}

@keyframes marquee-notification {
  0% {
      transform: translateX(0);
  }

  100%{
      transform: translateX(-100%);
  }
  
}

h1{
  font-family: 'Raleway', sans-serif;
}

.sticky-header {
  position: fixed;
  top: 0;
 
   
  width: 100%;
 
  margin: auto;
  
 
  transition: 1s all ease;
}

/* Add this CSS to your existing styles or create a new CSS file */

/* Modal Overlay Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Styles */
.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
  
  max-height: auto;
  position: relative;
  overflow-y: scroll;
}

/* Close Button Styles */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  color: #333;
}


/* gallery card */


.milk-bg::before{
  content: '';
  position: absolute;
  inset: 0;
 
  width: 100%;
  height: 100%;
  background: url('/images/milk-bg-cat.jpg');
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  padding-bottom: 20px;
  z-index: -1;
  opacity: .4;
  
  


}